/* ========================= Home Screen ========================= */
.home-screen {
  width: 100%;
}
.home-container {
  width: min(360px, 90vw);
  margin: 0 auto;
  padding: 30px;
} /* ========================= Game Title ========================= */
.game-title {
  margin-bottom: 40px;
  font-size: 42px;
  white-space: nowrap;
} /* ========================= Home Buttons ========================= */
.home-buttons {
  margin-top: 30px;
}
.home-buttons button {
  width: 100%;
}
