/* ========================= Settings Screen ========================= */
.settings-screen {
  width: 100%;
}
.settings-container {
  width: min(360px, 90vw);
  margin: 0 auto;
  padding: 30px;
} /* ========================= Settings Title ========================= */
.settings-container h1 {
  margin-bottom: 40px;
  font-size: 36px;
} /* ========================= Settings Buttons ========================= */
.settings-buttons {
  margin-top: 30px;
}
.settings-buttons button {
  width: 100%;
}
